body{
    background-color: #000;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 4vw;
    font-weight: bold;
    
}
.container{
  display: flex; 
  background-color: #fff;
  height: 80vh;
  margin: 5% 25%;
  padding: 1%;
  justify-content: center; 
  position: relative;
   
}

.one{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    animation-delay: 2s;
    animation: ONE 2s infinite alternate-reverse;
    transition-timing-function: ease-in-out;
   

}

@keyframes ONE {
    from {background: blue;}
    to {background: yellow;}
  }

  #one{
    position: absolute;
    animation: colorchange 4s infinite alternate;
    transition-timing-function: ease-in-out;
  }


  @keyframes colorchange {
    75% {
      color: white;
    }
   
    100% {
      color: black;
    }
  }

.two{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
   
  
}

#two{
    
    transition: all 1s;
    -webkit-animation:spin 4s linear ;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}


@keyframes spin{
	0%
	{
		transform:rotate(-360deg);
	}
  25%
	{
		transform:rotate(-355deg);
	}

	100%
	{
		transform:rotate(0deg);
	}
}

.three{
    width: 33.33%;
    display: flex;
    justify-content: center;
    background-color: blue;
    border: 2px solid #000;

}

#three{
    text-align: center;
   padding: 2%;
   position: absolute;
   animation: three 2s infinite reverse;
   transition-timing-function: infinite;
   animation-direction: alternate-reverse;
 
}


  @keyframes three {
    100%  {color:silver;  bottom:100%;}
    0%  {color:silver; top: 5%;}
    50%  {color:#030303fb;  top: 50%;} 
    100%  {color:silver;  top:80%;}
   
   
   
  }